{% extends 'base.html.twig' %}
{% block title %}
    Customers
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h4>Customers</h4>
                <div class="row  float-end">
                    <div class="btn-group-sm">
                        <a class="btn btn-success"><i data-feather="plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="customers">{{ 'loading'|trans({}, 'messages') }}</div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('#customers').initDataTables({{ datatable_settings(datatable) }});
        });
        function deleteItem(id) {
            $.ajax({
                url: "{{ path('deletecustomer_ajax') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    id:id,
                },
                success: function (data) {
                    window.location.reload();
                },
                error: function (err) {
                    alert("An error ocurred while loading data ...");
                    setTimeout(function () {
                        $("#overlay").fadeOut(300);
                    }, 500);
                }
            });
        }
    </script>
{% endblock %}
