{% extends 'base.html.twig' %}
{% block title %}
    Changer le mot de passe
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
    <form method="post" action="{{ path('app_changepassword') }}">
        <div class="mb-3">
            <label for="oldpassword" class="form-label">Ancien mot de passe</label>
            <input type="password" name="oldpassword" class="form-control" id="oldpassword" placeholder="Ancien mot de passe">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Ancien mot de passe</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Ancien mot de passe">
        </div>
        <button type="submit" class="btn btn-success waves-effect waves-light">Change password</button>
        <button type="button" class="btn btn-danger waves-effect waves-light" data-bs-dismiss="modal">Cancel</button>
    </form>
        </div>
    </div>
</div>
{% endblock %}
