<div class="btn-group btn-group-sm float-end">
    <a class="btn btn-success" href="{{ path('addactivatefromcard', {'id': row.id}) }}"><i class="me-2 icon-md fa fa-shopping-cart"></i>Add actiavtion</a>
</div>
